@import "tailwindcss";

@theme {
  --color-primary: var(--spacing-indigo-600);
  --color-bg-light: var(--spacing-slate-50);
  --color-bg-dark: var(--spacing-slate-950);
  --color-surface-light: #ffffff;
  --color-surface-dark: var(--spacing-slate-900);
  
  --color-border-light: var(--spacing-slate-200);
  --color-border-dark: var(--spacing-slate-800);
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    color-scheme: light dark;
  }

  body {
    @apply antialiased min-h-screen transition-colors duration-300;
    
    background-color: var(--color-bg-light);
    color: var(--spacing-slate-900);
    height: 100vh;
    overflow: hidden;
    transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1), 
              color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .dark body {
    background-color: var(--color-bg-dark);
    color: var(--spacing-slate-100);
  }
  .form-input {
    @apply w-full bg-slate-50 dark:bg-slate-950 border-2 border-transparent focus:border-indigo-500/20 rounded-2xl md:py-4 py-2 pl-12 pr-4 font-bold text-slate-700 dark:text-white outline-none transition-all
  }
  .btn-for-login-method {
    @apply flex items-center justify-center gap-2 md:py-4 py-2 bg-white dark:bg-slate-800 border border-slate-100 dark:border-slate-800 rounded-2xl hover:bg-slate-50 dark:hover:bg-slate-700 transition-all active:scale-95
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-700 rounded-full;
}